/*--------------------------------------------------------------
17. Image Gallery
----------------------------------------------------------------*/
.st-gallery-img.st-style1 {
  height: 530px;
  width: auto;
  border-radius: 5px;
}
